<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Housemates App</title>
    <link rel="icon" type="image/ico" href="images/logo.ico"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/dashboard.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/script_chore.js"></script>
    <!--script src="js/script_chore_add.js"></script-->
  </head>
  <body>
    <div class="menu">
      <div id="settings">
        <a href="/settings"><img src="images/icon_settings.png" width="50px"></a>
      </div>
      <div id="logout"><a href="/logout">Logout</a></div>
      <div id="username">
        <%= user.first_name %>
      </div> <!-- username -->
      <div id="title">
        <a href="/dashboard">Homies</a>
      </div> <!-- title -->
    </div> <!-- menu -->

    <div class="wrapper">
      <div class="sidebar">
         <a href="/dashboard" class="tooltip" title="DASHBOARD"><img src="images/sidebar-icon_house.png" title=""></a>
        <a href="/chores" class="tooltip" title="CHORES"><img src="images/sidebar-icon_chores.png" title=""></a>
        <a href="/bills" class="tooltip" title="BILLS"><img src="images/sidebar-icon_bills.png" title=""></a>
        <a href="/calendar" class="tooltip" title="CALENDAR"><img src="images/sidebar-icon_cal.png" title=""></a>
        <a href="/grocery" class="tooltip" title="GROCERY"><img src="images/sidebar-icon_grocery.png" title=""></a>
        <a href="/chat" class="tooltip" title="CHAT"><img src="images/sidebar-icon_chat.png" title=""></a>
      </div> <!-- sidebar -->

      <div class="content-dash content-chores">
        <h1>Chore Management</h1>
        <!-- <form class="form" method="post" action="/chore_add_pg">
          <button type="submit" class="btn btn-primary">Add chore</button>
        </form> -->
        <br>
        <button id="chore_add_pg" class="btn btn-primary">Assign a Chore</button>

        <!-- <h2>All Chores</h2>
        <div id="all-chores">
          <h3>My Chores</h3>
          <div id="my-chores"></div>
          <br>
          <h3>Their Chores</h3>
          <div id="their-chores">
          </div>
        </div> -->

        <div class="tabs">
            <ul class="tab-links">
                <li class="active"><a href="#tab1">This Week</a></li>
                <li><a href="#tab2">Next Week</a></li>
                <li><a href="#tab3">Future</a></li>
                <!-- <li><a href="#tab3">My Past Payments</a></li>
                <li><a href="#tab4">Other Payments</a></li> -->
            </ul>

            <div class="tab-content">
              <div id = "tab1" class="tab">
                <ul class="tabbed-links">
                    <li class="active"><a href="#tabbed1">You</a></li>
                    <li><a href="#tabbed2">Them</a></li>
                    <!-- <li><a href="#tab3">My Past Payments</a></li>
                    <li><a href="#tab4">Other Payments</a></li> -->
                </ul>
                <hr>
                <div class="tabbed-content">
                  <div id="tabbed1" class="tab">
                    <div id="tab-heading">Your Chores this week</div>
                    <!-- <span id='toggle-action'>Edit</span> -->
                    <div id="my-chores_this"> 
                      <br><i>You don't have any chores for this week.</i>
                    </div> <!-- my chores -->
                  </div>
                  <div id="tabbed2" class="tab">
                    <div id="tab-heading">Their Chores this week</div>
                    <div id="their-chores_this">
                      <br><i>No one else has any chores this week.</i>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tab2" class="tab">
                <ul class="tabbed-links">
                    <li class="active"><a href="#tabbed3">You</a></li>
                    <li><a href="#tabbed4">Them</a></li>
                    <!-- <li><a href="#tab3">My Past Payments</a></li>
                    <li><a href="#tab4">Other Payments</a></li> -->
                </ul>
                <hr>
                <div class="tabbed-content">
                  <div id="tabbed3" class="tab">
                    <div id="tab-heading">Your Chores next week</div>
                    <div id="my-chores_next">
                      <br><i>You don't have any chores next week.</i>
                    </div>
                  </div>
                  <div id="tabbed4" class="tab">
                    <div id="tab-heading">Their Chores next week</div>
                    <div id="their-chores_next">
                      <br><i>No one else has any chores next week.</i>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tab3" class="tab">
                <ul class="tabbed-links">
                    <li class="active"><a href="#tabbed5">You</a></li>
                    <li><a href="#tabbed6">Them</a></li>
                    <!-- <li><a href="#tab3">My Past Payments</a></li>
                    <li><a href="#tab4">Other Payments</a></li> -->
                </ul>
                <hr>
                <div class="tabbed-content">
                  <div id="tabbed5" class="tab">
                    <div id="tab-heading">Your Future Chores</div>
                    <div id="my-chores_future">
                      <br><i>You don't have any chores after two weeks.</i>
                    </div>
                  </div>
                  <div id="tabbed6" class="tab">
                    <div id="tab-heading">Their Future Chores</div>
                    <div id="their-chores_future">
                      <br><i>No one else has any chores after two weeks.</i>
                    </div>
                  </div>
                </div>
              </div>
            </div> <!-- tab-content -->
        </div> <!-- tabs -->


      </div> <!-- content-dash -->
      <div class="popup_bkgd" id="chore_add_bkgd">
          <div class="popup" id="chore_add_popup">
            <!-- SELECT FORM TYPE -->
            <!-- <div id="choices">
              <button id="new_chore" class="btn btn-primary">Add New Chore</button>
              <button id="existing_chore" class="btn btn-primary">Reassign Existing Chore</button>
            </div> -->

            <!-- ADD ASSIGNMENT TO EXISTING CHORE -->
            <div class="form_title">Assign a Chore</div>

            <!-- <form action="/chore_add_existing" method="post" id="chore_add_form"> -->
            <div id="chore_add_form">
              <select id="new_or_old" name="new_or_old">
                <option value="new">Create New Chore</option>
                <option value="old">Assign Existing Chore</option>
              </select><br>
              <div id="new_chore_input">
                Name Chore: <input id="new_chore_name" name="chore_name" type="text" placeholder="Sweeping">
              </div>
              <div id="old_chore">
                Select Chore: <select id="select_chore_name" name="chore_name">
                </select><br>
              </div>
              <span id="span_assignee">Assign to:</span> <select id="assignee" name="assignee">
              <% for(var i=0; i<members.length; i++) {%>
              <option value="<%= members[i] %>"> <%= members[i] %> </option>
              <% } %>
              </select><br>
              On: <input id="due_date" name="due_date" type="date" placeholder="MM/DD/YYYY"><br>
              Occurring: <select id="chore_type" name="chore_type">
                <option value="onetime">One Time</option>
                <option value="repeating">Repeating</option>
                <option value="rotating">Rotating</option>
              </select></br>
              <div id="repeat_form">
              Repeat: <input type="radio" name="rate_frequency" id="rate_frequency" value="daily" checked>Daily
              <input type="radio" name="rate_frequency" id="rate_frequency" value="weekly">Weekly
              <input type="radio" name="rate_frequency" id="rate_frequency" value="monthly">Monthly<br>
              Every <input id="rate" name="rate" type="number" value="1"> <span id="span_rate">day</span>(s)</br>
              Repeat until: <input id="end_date" name="end_date" type="date" placeholder="MM/DD/YYYY"><br>
              </div> <!-- repeat_form -->
              <br>
              <input id="button1" type="submit" value="Assign Chore"/>
            </div>
            <!-- </form> -->

            <div id="chore_add_x"><img src="images/icon_x.png" width="20px"></div>
          </div> <!-- popup add -->

          <div class="popup" id="chore_feedback_popup">
            <span></span>
            <br><br>
            <input id="chore_feedback_close" type="submit" value="Close">
          </div> <!-- popup feedback -->
        </div> <!-- popup bkgd -->
    </div> <!-- wrapper -->
  </body>
</html>
