<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Housemates App</title>
    <link rel="icon" type="image/ico" href="images/logo.ico"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
  </head>
  <body>
    <h1 style="font-size:40px"> Homies </h1>
    <i>The application for passive-aggressive housemates</i>
    <br><br><br>
    <div id="login-box">
      <h2>Login</h2>
      <form class="form" method="post" action="/login">
        <input id="login-username" type="text" placeholder="Username"/><br>
        <input id="login-password" type="password" placeholder="Password"/><br>
        <button type="submit" class="btn btn-warning btn-lg">Login</button>
      </form>
      <br><br>
      <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> New User? Sign up here!</a>
      <!-- <form class="form" method="get" action="/localLogin">
        <input id="login-username" type="text" placeholder="Username"/><br>
        <input id="login-password" type="password" placeholder="Password"/><br>
        <input id="button1"  type="submit" value="Go"/>
      </form> -->

    </div> <!-- login-box -->
    <h1 style="opacity:0.5">"It ain't no fun if the homies can't have none" – Snoop Dogg</h1>

  </body>
</html>
