<html>
	<head>
		<title>Housemates App</title>
    	<link rel="icon" type="image/ico" href="images/logo.ico"/>
    	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700,400' rel='stylesheet' type='text/css'>
   		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    	<link rel="stylesheet" href="css/home.css">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   		<script src="js/bootstrap.min.js"></script>
   		<script src="js/script.js"></script>
	</head>
	<body>
	    <div id="signup-box">
			<h2>Signup</h2>

			<% if (message.length > 0) { %>
	          <div class="alert alert-danger"><%= message %></div>
	        <% } %>
	        
			<!-- SIGNUP FORM -->
			<form action="/signup" method="post">
				<input id="signup-email" type="text" placeholder="Email" name="email"/><br>
	        	<input id="signup-password" type="password" placeholder="Password" name="password"/><br>
	        	<input id="signup-firstname" type="text" placeholder="First Name" name="firstname"/><br>
				<input id="signup-lastname" type="text" placeholder="Last Name" name="lastname"/><br>
	        	<input id="button2"  type="submit" value="Sign Up"/>
			</form>

		</div>
		Already have an account? <a href="/"><input id="button2" value="Login"></a><br>

	</div>
	</body>
</html>
