body {
	font-family: 'Open Sans', sans-serif;
	/*background: #f9f8e5;*/
	background: #fbfaee;
	margin: 0px;
	height: 100%;
	/*overflow: hidden;*/
}

a{
	text-decoration: none;
	color: black;
}

a:visited{
	text-decoration: none;
	color: black;
}

input:focus{ /* removes highlight when clicking on input */
	outline: none;
}

button:focus{
	outline:none;
}

/*------------------------------- MENU ------------------------------*/

.menu {
	font-size: 20px;
	color: white;
	background: #038693;
	height: 50px;
	width: 100%;
	display: block;
	float: left;
}

#username{
	float: right;
	padding: 10px;
}

#title{
	font-family: 'Pacifico', cursive;
	font-size: 30px;
	text-align: center;
	width: 100px;
	padding: auto auto;
	margin-left: auto;
	margin-right: auto;
}

#title a, #title a:visited{
	color: white;
}

#settings{
	float: left;
	display: block;
}

#logout{
	font-size: 15px;
	float: right;
	padding-right: 10px;
	padding-top: 5px;
}

#logout a, #logout a:visited{
	color: #79cfd3;
}

.wrapper{
	display: inline-block;
}

/*------------------------------- SIDEBAR ------------------------------*/
.sidebar{
	display: block;
	/*background: #422a42;*/
	/*background: #452145;*/
	background: #562856;
	width: 50px;
	height: 800px;
	float: left;
	text-align: center;
}

.sidebar img{
	width: 45px;
	padding-top: 5px;
	cursor: pointer;
}

.tooltip{
	display: inline;
    position: relative;
    z-index: 1000;
}

.tooltip:hover:after {
	/*background: #111;
    background: rgba(0,0,0,.8);
    border-radius: .5em;
    bottom: 1.35em;
    color: #fff;
    content: attr(title);
    display: block;
    left: 1em;
    padding: .3em 1em;
    position: absolute;
    text-shadow: 0 1px 0 #000;
    white-space: nowrap;
    z-index: 98;*/
    display: block;
    content: attr(title);
    position: absolute;
    width: 73px;
    height: 15px;
    line-height: 15px;
    padding: 5px;
    font-size: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    background: rgba(0,0,0,0.85);
    top: -20px;
    left: 50px;
    color: white;
    pointer-events: none;

}

/*.tooltip:hover:before {
    border: solid;
    border-color: #111 transparent;
    border-color: rgba(0,0,0,.8) transparent;
    border-width: .4em .4em 0 .4em;
    bottom: 1em;
    content: "";
    display: block;
    left: 2em;
    position: absolute;
    z-index: 99;
}*/

/*------------------------------- GENERAL ------------------------------*/
button, #complete-b, #incomplete-b, #edit-b, #delete-b, input[type='submit'], #toggle-action{
	background: #c1a880;
	border: solid;
	border-width: 0px;
	border-radius: 4px;
	cursor: pointer;
	padding: 5px;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 11px;
	line-height: 14px;
}

#complete-b, #incomplete-b{
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
}

#incomplete-b{
	background: #e55555;
	color: white;
}

#edit-b, #delete-b{
	padding-top: 9px ;
	padding-bottom: 2px;
	vertical-align: center;
	margin: 0px 0px 0px 4px;
	/*display: none;*/
}

#edit-b img, #delete-b img{
	width: 17px;
}

#toggle-action{
	font-size: 10px;
	font-weight: normal;
}

#red{
	color: #d62d2d;
}

/*------------------------------- CONTENT ------------------------------*/

.name_title{
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 2em;
	font-weight: bold;
}

h1{
	display: inline-block;
	padding: 0px;
}

.content-dash{
	display: block;
	float: left;
	margin: 40px;
	position: absolute;
	left: 40px;
	padding-left: 10px;
	/*width: 100%;*/
}

.content-chores, .content-bills{
	width: 85%;
}

.dash-box{
	width: 300px;
	height: 350px;
	/*background: #efe9a5;*/
	background: #f2daab;
	margin: 10px;
	margin-left: 0px;
	padding: 15px;
	border-radius: 5px;
}

#dash-heading{
	font-size: 25px;
	font-weight: bold;
}

.popup{
	width: 400px;
	height: 400px;
	background: #0b6f7a;
	color: white;
	float: left;
	position: absolute;
	top: 15%;
	left: 35%;
	opacity: 1.0;
	z-index: 1000;
	border-radius: 10px;
}

.popup_bkgd{
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
}

.popup button{
	background: #064e56;
	color: white;
}

.form_title{
	font-size: 18px;
	text-align: center;
	margin-bottom: 10px;
	text-transform: uppercase;
}

/*--------------------- CHORES --------------------*/

#chore_add_pg{ /* button */
}

#chore_add_popup{
	box-sizing: border-box;
	padding: 50px;
}

#chore_feedback_popup{
	display: none;
	box-sizing: border-box;
	padding: 50px;
	text-align: center;
	height: 300px;
}

#button1{
	margin-left: auto;
	margin-right: auto;
}

#chore_add_x{
	cursor: pointer;
	position: absolute;
	float: right;
	right: 15px;
	top: 15px;
}

#chore_add_form {
	font-size: 14px;
	/*display: none;*/
}

#chore_add_form input, #chore_add_form select{
	margin-bottom: 5px;
}

#chore_add_form #old_chore{
	display: none;
}

#chore_add_form #rate{
	width: 30px;
}

#repeat_form{
	display: none;
}

/*-- chore display --*/
#my-chores_this table, #my-chores_next table, #my-chores_future table,
#their-chores_this table, #their-chores_next table, #their-chores_future table{
	/*width: 600px;*/
	margin-top: 15px;
}

#my-chores_this td, #my-chores_this th, 
#my-chores_next td, #my-chores_next th, 
#my-chores_future td, #my-chores_future th, 
#their-chores_this td, #their-chores_this th, 
#their-chores_next td, #their-chores_next th, 
#their-chores_future td, #my-chores_futures th{
	vertical-align: top;
	font-size: 17px;
	padding: 10px 20px 5px 20px;
	margin-bottom: 10px;
}

#completed-chore {
	/*color: gray;*/
}

/*.chores-tbl{
	width: 600px;
	background: black;
}

#chores-tbl th{
	text-align: left;
}

#chores-tbl td{
	min-width: 300px;
	vertical-align: top;
	font-size: 18px;
	padding: 10px 20px 10px 20px;
}*/

/*--------------------- BILLS --------------------*/

.bill-box{
	width: 540px;
	height: 350px;
	/*background: #efe9a5;*/
	background: #f2daab;
	margin: 10px;
	margin-left: 0px;
	padding: 15px;
}

/*td{
	padding: 7px;
}*/

#totalsTbl td, #totalsTbl tr{
	padding: 0px 30px 0px 0px;
}

#total_num{
	font-size: 30px;
	padding-bottom: 0px;
}

#total_person{
	padding: 0px;
}

/*------------------------------- SETTINGS ------------------------------*/
#settings{
}

#settings #left, #settings #right{
	float: left;
	width: 50%;
	margin-top: 20px;
}

#settings h1{
	padding: 0px;
	margin: 0px;
}

#settings h2{
	padding-top: 0px;
}

#settings table{
	width: 500px;
}

#settings td{
	width: 50%;
	vertical-align: bottom;
}


#settings a, #settings a:visited{
	text-decoration: none;
	color: gray;
}

#settings-prof{
	width: 40px;
	padding-right: 10px;
}

/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}

#tab-heading{
	font-size: 25px;
	font-weight: bold;
}
 
/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after, .tabbed-links:after {
    display:inline-block;
    clear:both;
    content:'';
}

.tab-links li, .tabbed-links li {
    margin:0px;
    float:left;
    list-style:none;
}

.tab-links a, .tabbed-links a {
    padding:9px 15px;
    display:inline-block;
    border: 1px solid #f2d9aa;
    border-bottom-style: none;
    border-radius:3px 3px 0px 0px;
    font-size:13px;
    transition:all linear 0.15s; 
    text-transform: uppercase;   
}

.tabbed-links a{
	/*background: none;*/
	font-size: 13px;
	font-weight: normal;
	border-radius: 15px;
	padding: 4px 8px;
	margin-right: 5px;
    border: 1px solid #f2d9aa;
    text-transform: none;
}

.tab-links a:hover, .tabbed-links a:hover {
    background:#f8e4c6;
    text-decoration:none;
}

li.active a, li.active a:hover {
    background: #f2daab;
    font-weight: bold;
    /*color:#4c4c4c;*/
}

.tabbed-links li.active a, .tabbed-links li.active a:hover{
    background: #f2daab;

	
}

/*----- Content of Tabs -----*/
.tab-content{
    padding: 15px;
    border-top: 1px solid gray;
    border-radius:3px;
    /*box-shadow:-1px 1px 1px rgba(0,0,0,0.15);*/
    /*background: #f2daab;*/
    min-height: 100px;
    width: 100%;
}

.content-chores .tab-content{
    padding: 0px 0px 15px 0px;
    text-align: left;

}

.tabbed-content{
	padding: 15px;
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}

#tab1{
	display: block;
}

#tabbed1{
	display: block;
}

#tabbed3{
	display: block;
}

#tabbed5{
	display: block;
}
