body {
	font-family: 'Open Sans', sans-serif;
	/*background: #f9f8e5;*/
	background: #fbfaee;
	margin: 0px;
	height: 100%;
	/*overflow: hidden;*/
}

a{
	text-decoration: none;
	color: black;
}

a:visited{
	text-decoration: none;
	color: black;
}

input:focus, textarea:focus{ /* removes highlight when clicking on input */
	outline: none;
}

button:focus{
	outline:none;
}


/*------------------------------- MENU ------------------------------*/

.menu {
	font-size: 20px;
	color: white;
	/*background: #038693;*/
	background: #04899b;
	height: 50px;
	width: 100%;
	display: block;
	float: left;
}

#username{
	float: right;
	padding: 10px;
}

#title{
	font-family: 'Pacifico', cursive;
	font-size: 30px;
	text-align: center;
	width: 100px;
	padding: auto auto;
	margin-left: auto;
	margin-right: auto;
}

#title a, #title a:visited{
	color: white;
}

#settings{
	float: left;
	display: block;
}

#logout{
	font-size: 15px;
	float: right;
	padding-right: 10px;
	padding-top: 5px;
}

#logout a, #logout a:visited{
	color: #79cfd3;
}

.wrapper{
	display: inline-block;
}

/*------------------------------- SIDEBAR ------------------------------*/
.sidebar{
	display: block;
	/*background: #422a42;*/
	/*background: #452145;*/
	/*background: #562856;*/ /*purple */
	/*background: #4d58db;*/ /*periwinkle*/
	background: #0e4ba5;
	width: 55px;
	/*height: 1000px;*/
	float: left;
	text-align: center;
	padding-bottom: 4px;
	padding-right: 1px;
	border-radius: 0px 0px 7px 0px;
}

.sidebar img{
	width: 45px;
	padding-top: 5px;
	cursor: pointer;
}

.tooltip{
	display: inline;
    position: relative;
    z-index: 1000;
}

.tooltip:hover:after {
	/*background: #111;
    background: rgba(0,0,0,.8);
    border-radius: .5em;
    bottom: 1.35em;
    color: #fff;
    content: attr(title);
    display: block;
    left: 1em;
    padding: .3em 1em;
    position: absolute;
    text-shadow: 0 1px 0 #000;
    white-space: nowrap;
    z-index: 98;*/
    display: block;
    content: attr(title);
    position: absolute;
    width: 73px;
    height: 15px;
    line-height: 15px;
    padding: 5px;
    font-size: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    background: rgba(0,0,0,0.85);
    top: -20px;
    left: 55px;
    color: white;
    pointer-events: none;

}

/*.tooltip:hover:before {
    border: solid;
    border-color: #111 transparent;
    border-color: rgba(0,0,0,.8) transparent;
    border-width: .4em .4em 0 .4em;
    bottom: 1em;
    content: "";
    display: block;
    left: 2em;
    position: absolute;
    z-index: 99;
}*/

/*------------------------------- GENERAL ------------------------------*/
button, #complete-b, #incomplete-b, #edit-b, #delete-b, #gitem-b, .bill-b, #input[type='submit'], #toggle-action{
	background: #c1a880;
	border: solid;
	border-width: 0px;
	border-radius: 4px;
	cursor: pointer;
	padding: 5px;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 11px;
	line-height: 14px;
}

#complete-b, #incomplete-b{
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
}

#incomplete-b{
	background: #e55555;
	color: white;
}

#edit-b, #delete-b, .bill-b{
	padding-top: 9px ;
	padding-bottom: 2px;
	vertical-align: center;
	margin: 0px 0px 0px 4px;
	/*display: none;*/
}

#edit-b img, #delete-b img, .bill-b img{
	width: 17px;
}

#gitem-b{
	color: white;
	padding-top: 6px;
	padding-bottom: 6px;
	background: #6cb753;
}

#toggle-action{
	font-size: 10px;
	font-weight: normal;
}

#red{
	color: #d62d2d;
}

#green{
	color: #489b29;
}

/*------- form formatting -------*/

input[type=text], input[type=number]{
	border: none;
	padding: 3px 5px 3px 5px;
	border-radius: 2px;
}

input[type=date]{
	border: none;
	padding: 2px 5px 2px 5px;
	border-radius: 2px;
}

#button1, #bill-formb, #grocery-formb, #gbill-formb,
#chore_feedback_close, #bill_feedback_close, 
#grocery_feedback_close, #gbill_feedback_close,
#chat-button{
	background: #0292A5;
	color: white;
	border: solid;
	border-width: 0px;
	border-radius: 4px;
	cursor: pointer;
	padding: 5px 8px 5px 8px;
	font-size: 11px;
	line-height: 14px;
}


/*------------------------------- CONTENT ------------------------------*/

.name_title{
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 2em;
	font-weight: bold;
	/*color: #002e66;*/
}

h1{
	display: inline-block;
	padding: 0px;
}

.content-dash{
	display: block;
	float: left;
	margin: 40px;
	position: absolute;
	left: 50px;
	padding-left: 10px;
	/*width: 100%;*/
}

.content-chores, .content-bills, .content-groceries, .content-about{
	width: 85%;
}

.dash-box{
	width: 300px;
	min-height: 350px;
	/*background: #efe9a5;*/
	/*background: #f2daab;*/ /*yellower */
	background: #edd7b0;
	margin: 10px;
	margin-left: 0px;
	padding: 15px;
	border-radius: 5px;
}

#dash-heading{
	font-size: 25px;
	font-weight: bold;
}

#dash-heading a{
	/*color: #002e66;*/
}

.popup{
	width: 400px;
	height: 400px;
	/*background: #0b6f7a;*/
	background: #097887;
	color: white;
	float: left;
	position: absolute;
	top: 15%;
	left: 35%;
	opacity: 1.0;
	z-index: 1000;
	border-radius: 10px;
}

.popup_bkgd{
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
}

.popup button{
	background: #064e56;
	color: white;
}

.form_title{
	font-size: 18px;
	text-align: center;
	margin-bottom: 10px;
	text-transform: uppercase;
}

/*--------------------- DASHBOARD --------------------*/

#dash-my-chores td{
	width: 95px;
	padding: 0px;
}

#dash-my-chores tr{
	padding: 0px;
}

#dash-heading span{
	font-size: 15px;
}

.dash-box h4{
	margin-bottom: 0px;
}

#dash-groceries{
	padding: 0px 0px 0px 0px;
}

#dash-groceries ul{
	padding-left: 20px;
}

/*--------------------- CHORES --------------------*/

#chore_add_pg{ /* button */
}

#chore_add_popup{
	box-sizing: border-box;
	padding: 50px;
}

#chore_feedback_popup{
	display: none;
	box-sizing: border-box;
	padding: 50px;
	text-align: center;
	height: 300px;
}

#button1{
	margin-left: auto;
	margin-right: auto;
}

#chore_add_x{
	cursor: pointer;
	position: absolute;
	float: right;
	right: 15px;
	top: 15px;
}

#chore_add_form {
	font-size: 14px;
	/*display: none;*/
}

#chore_add_form input, #chore_add_form select{
	margin-bottom: 5px;
}

#chore_add_form #old_chore{
	display: none;
}

#chore_add_form #rate{
	width: 30px;
}

#repeat_form{
	display: none;
}

/*-- chore display --*/
#my-chores_this table, #my-chores_next table, #my-chores_future table,
#their-chores_this table, #their-chores_next table, #their-chores_future table{
	/*width: 600px;*/
	margin-top: 15px;
}

#my-chores_this td, #my-chores_this th, 
#my-chores_next td, #my-chores_next th, 
#my-chores_future td, #my-chores_future th, 
#their-chores_this td, #their-chores_this th, 
#their-chores_next td, #their-chores_next th, 
#their-chores_future td, #my-chores_futures th{
	vertical-align: top;
	font-size: 17px;
	padding: 10px 20px 5px 20px;
	margin-bottom: 10px;
}

#completed-chore {
	/*color: gray;*/
}

/*.chores-tbl{
	width: 600px;
	background: black;
}

#chores-tbl th{
	text-align: left;
}

#chores-tbl td{
	min-width: 300px;
	vertical-align: top;
	font-size: 18px;
	padding: 10px 20px 10px 20px;
}*/

/*--------------------- BILLS --------------------*/

.bill-box{
	width: 540px;
	height: 350px;
	/*background: #efe9a5;*/
	background: #f2daab;
	margin: 10px;
	margin-left: 0px;
	padding: 15px;
}

/*td{
	padding: 7px;
}*/

#totalsTbl td, #totalsTbl tr{
	padding: 0px 30px 0px 0px;
}

.total_num{
	font-size: 30px;
	padding-bottom: 0px;
}

#total_person{
	padding: 0px;
}

/*---- adding a bill ----*/
#bill_add_pg{ /* button */
}

#bill_add_popup, #gbill_popup{
	box-sizing: border-box;
	padding: 50px;
}

#bill_feedback_popup, #gbill_feedback_popup{
	display: none;
	box-sizing: border-box;
	padding: 50px;
	text-align: center;
	height: 300px;
}

#bill_add_x, #gbill_add_x{
	cursor: pointer;
	position: absolute;
	float: right;
	right: 15px;
	top: 15px;
}

#bill_add_form, #gbill_add_form {
	font-size: 14px;
	/*display: none;*/
}

#bill_add_form input, #bill_add_form select, #gbill_add_form input, #gbill_add_form select{
	margin-bottom: 5px;
}

#my_payments table, #pay-to-me table, #my-past-payments table,
#their-payments table{
	/*width: 600px;*/
	margin-top: 15px;
}

#my-payments td, #my-payments th, 
#pay-to-me td, #pay-to-me th, 
#my-past-payments td, #my-past-payments th,
#their-payments td, #their-payments th{
	vertical-align: top;
	font-size: 17px;
	padding: 10px 20px 5px 20px;
	margin-bottom: 10px;
	text-align: left;
}
/*------------------------------- GROCERIES ------------------------------*/

/*---- adding an item ----*/
#grocery_add_pg{ /* button */
}

#grocery_add_popup{
	box-sizing: border-box;
	padding: 50px;
	height: 200px;
}

#grocery_feedback_popup{
	display: none;
	box-sizing: border-box;
	padding: 50px;
	text-align: center;
	height: 200px;
}

#grocery_add_x{
	cursor: pointer;
	position: absolute;
	float: right;
	right: 15px;
	top: 15px;
}

#grocery_add_form {
	font-size: 14px;
	/*display: none;*/
}

#grocery_add_form input, #grocery_add_form select{
	margin-bottom: 5px;
}

#grocery-not-bought td, #grocery-bought td{
	min-width: 50px;
	padding: 0px 0px 0px 10px;
}

#grocery-not-bought ul, #grocery-bought ul{
	padding: 0px;
}

#all-groceries li{
	list-style: none;
	padding: 5px 0px 5px 0px;
}

#grocery-item {
	width: 170px;
}

/*------------------------------- CHAT ------------------------------*/
#chat-messages{
	width: 400px;
	height: 300px;
	overflow-y: scroll;
	background: #FCFCFA;
	border: 1px solid #EDD7B0;
	border-radius: 5px;
	padding: 10px;
}

#chat-me span, #chat-them span{
	font-size: 11px;
	color: #8B8C8E;
}

#chat-me p, #chat-them p{
	font-weight: bold;
	font-size: 13px;
	margin: 0px;
	display: inline;
	color: black;
}

#chat-me{
	text-align: right;
	color: ;
}

#chat-me, #chat-them{
	margin-bottom: 4px;
}

#send-message{
}

#message {
	font-size: 15px;
	padding: 5px 8px 5px 8px;
	border: 1px solid #F4E8D3;
	border-radius: 5px;
	margin-top: 5px;
	float: left;
}

#chat-button{
	float: left;
	margin: 5px 0px 0px 3px;
	width: 72px;
	font-size: 16px;
	bottom: 0px;
}

/*------------------------------- SETTINGS ------------------------------*/
#settings{
}

#settings #left, #settings #right{
	float: left;
	width: 50%;
	margin-top: 20px;
}

#settings h1{
	padding: 0px;
	margin: 0px;
}

#settings h2{
	padding-top: 0px;
}

#settings table{
	width: 500px;
}

#settings td{
	width: 50%;
	vertical-align: bottom;
}


#settings a, #settings a:visited{
	text-decoration: none;
	color: gray;
}

#settings-prof{
	width: 40px;
	padding-right: 10px;
}

/*------------------------------- TABS ------------------------------*/

.tabs {
    width:100%;
    display:inline-block;
}

#tab-heading{
	font-size: 25px;
	font-weight: bold;
}
 
/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after, .tabbed-links:after {
    display:inline-block;
    clear:both;
    content:'';
}

.tab-links li, .tabbed-links li {
    margin:0px;
    float:left;
    list-style:none;
}

.tab-links a, .tabbed-links a {
    padding:9px 15px;
    display:inline-block;
    border: 1px solid #edd7b0; /*#f2d9aa;*/
    border-bottom-style: none;
    border-radius:3px 3px 0px 0px;
    font-size:13px;
    transition:all linear 0.15s; 
    text-transform: uppercase;   
}

.content-groceries .tab-links a{
	padding-bottom: 5px;
}

.tabbed-links a{
	/*background: none;*/
	font-size: 13px;
	font-weight: normal;
	border-radius: 15px;
	padding: 4px 8px;
	margin-right: 5px;
    border: 1px solid #edd7b0; /*#f2d9aa;*/
    text-transform: none;
}

.tab-links a:hover, .tabbed-links a:hover {
    background: #f4e8d3; /*#f8e4c6;*/
    text-decoration:none;
}

li.active a, li.active a:hover {
    background: #edd7b0; /*#f2daab;*/
    font-weight: bold;
    /*color:#4c4c4c;*/
}

.tabbed-links li.active a, .tabbed-links li.active a:hover{
    background: #edd7b0; /*#f2daab;*/

	
}

/*----- Content of Tabs -----*/
.tab-content{
    padding: 15px;
    border-top: 1px solid gray;
    /*border-radius:3px;*/
    /*box-shadow:-1px 1px 1px rgba(0,0,0,0.15);*/
    /*background: #f2daab;*/
    min-height: 100px;
    width: 100%;
}

.content-chores .tab-content{
    padding: 0px 0px 15px 0px;
    text-align: left;

}

.tabbed-content{
	padding: 15px;
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}

#tab1{
	display: block;
}

#tabbed1{
	display: block;
}

#tabbed3{
	display: block;
}

#tabbed5{
	display: block;
}


/*------------------------------- ABOUT ------------------------------*/
#about-wrapper{

}

#about-menu, #about-content{
	display: inline-block;
	float: left;
}

#about-menu{
	width: 230px;
	border-color: gray;
	border-right:1px solid;
	height: 200px;
}

#about-content{
	width: 600px;
	margin: 0px 15px 0px 40px;
}

#about-menu ul{
	margin-top: 0px;
}

#about-menu li{
	list-style: none;
	width: 120px;
}

#about-menu a{
	padding:9px 15px;
    display:inline-block;
    border: 1px solid #fbfaee;
    border-radius:3px 3px 0px 0px;
    font-size:13px;
    transition:all linear 0.15s; 
    text-transform: uppercase;   
    width: 120px;
}

#about-menu li.active a, #about-menu li.active a:hover {
    background: #edd7b0; /*#f2daab;*/
    font-weight: bold;
    border-color: #fbfaee;
    /*color:#4c4c4c;*/
}

#about-menu a:hover, #about-menu .tabbed-links a:hover {
    background: #f4e8d3; /*#f8e4c6;*/
    text-decoration:none;
}

.v-tab{
	display: none;
}

#v-tab1{
	display: inline;
}

